<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Proyecto de Juegos{% endblock title %}</title>
</head>
<body>
    <header>
        <h1>Mi Aplicación de Videojuegos</h1>
        <nav>
            <a href="{% url 'inicio' %}">Inicio</a> | 
            <a href="{% url 'crear_juego' %}">Agregar Juego</a> | 
            <a href="{% url 'lista_juegos' %}">Ver Lista de juegos</a>
            <a href="{% url 'acerca_de_mi' %}">Acerca de mi</a>

           {% if user.is_authenticated %}
    <a href="#">{{ user.username }}</a>

    <form action="{% url 'cerrar_sesion' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="submit" value="Cerrar Sesion" class="btn btn-danger btn-sm">
    </form>
{% else %}
    <a href="{% url 'iniciar_sesion' %}" class="btn btn-primary btn-sm">Iniciar Sesion</a>
    <a href="{% url 'registro' %}" class="btn btn-primary btn-sm">Registrarse</a>
    
{% endif %}
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
            {% endblock content %}
    </main>

    <footer>
        <hr>
        <p>Fin de la Página</p>
    </footer>
</body>
</html>