{% extends 'base.html' %}

{% block title %}Eliminar Consola{% endblock title %}

{% block content %}
    <h2>Confirmar Eliminación de Consola</h2>
    
    <p>
        ¿Está seguro de que desea eliminar la consola: 
        <strong>{{ object.nombre }}</strong>?
    </p>
    <p>Esta acción es irreversible.</p>
    
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Sí, Eliminar">
        <a href="{% url 'lista_consolas' %}" class="btn btn-secondary">No, Cancelar</a>
    </form>
{% endblock content %}