<h1>Bienvenido a la lista de Juegos</h1>

<h2>Para acceder a la lista de juegos: introduzca la url http://127.0.0.1:8000/lista/</h2>
  <h4>De esta forma, vamos a poder visualizar todos los juegos que se crearon previamente y los que se agregaron en esta sesion a la base de datos.</h4>  


<h2>Para agregar un juego con su genero a la lista: introduzca la url http://127.0.0.1:8000/agregar-juego/"genero del juego"/"nombre del juego"/</h2>
   <h4>Una vez hecho esto, vamos a cargar el juego con su genero a la base de datos. Tambien podremos verlo ejecutando el paso anterior nuevamente</h4> 
