{% extends 'base.html' %} 

{% block title %}Lista de Juegos{% endblock title %}

{% block content %}
    <h2>Juegos Guardados</h2>
    
    {% if juegos %}
        <ul class="list-group">
            {% for juego in juegos %} 
                <li class="list-group-item">
                    <h5>Nombre: {{ juego.nombre }}</h5>
                    <p>Género: {{ juego.genero }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aún no has agregado ningún juego. <a href="{% url 'agregar_juego' %}">¡Crea el primero!</a></p>
    {% endif %}

{% endblock content %}