{% extends 'base.html' %} 

{% block title %}Lista de Empresas{% endblock title %}

{% block content %}
    <h2>Empresas Guardadas</h2>

    {% if empresas %}
        <ul>
        {% for empresa in empresas %}
            <li>
                Nombre: {{ empresa.nombre }} 
                (País de Origen: {{ empresa.pais }})
            
                | <a href="{% url 'ver_empresa' empresa.pk %}">Ver</a> 
                | <a href="{% url 'actualizar_empresa' empresa.pk %}">Editar</a> 
                | <a href="{% url 'eliminar_empresa' empresa.pk %}">Eliminar</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No se han guardado empresas aún.</p>
    {% endif %}
    <p>
        <a href="{% url 'crear_empresa' %}">Agregar otra Empresa</a> |
        <a href="{% url 'inicio' %}">Volver al Inicio</a>
    </p>
{% endblock content %}