{% extends 'base.html' %} 

{% block title %}Lista de Consolas{% endblock title %}

{% block content %}
    <h2>Consolas Guardadas</h2>

    {% if consolas %}
        <ul>
        {% for consola in consolas %}
            <li>
                Nombre: {{ consola.nombre }} 
                (Año de Lanzamiento: {{ consola.lanzamiento }}) 

                | <a href="{% url 'ver_consola' consola.pk %}">Ver</a> 
                | <a href="{% url 'actualizar_consola' consola.pk %}">Editar</a> 
                | <a href="{% url 'eliminar_consola' consola.pk %}">Eliminar</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No se han guardado consolas aún.</p>
    {% endif %}

    <p>
        <a href="{% url 'crear_consola' %}">Agregar otra Consola</a> | 
        <a href="{% url 'inicio' %}">Volver al Inicio</a>
    </p>
{% endblock content %}